{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "source": $util.toJson($context.source),
        "cinemaCode": "$context.source.cinemaCode",
        "regionCode": "$context.source.regionCode"
    }
}
